        html, body {
            margin: 0 0 15px 0;
        }

        body {
            background-color: #94B9C9;
            font-size: large;
            font-family: 'Rokkitt', serif;
        }

        button {
            font-size: large;
            margin: 10px;
            font-family: 'Rokkitt', serif;
        }

        .align-right {
            text-align: right;
            margin-right: -10px;
        }

        .delete, .deleteheader {
            float: right;
        }

        .delete {
            margin-right: 20px;
        }

        h1 {
            font-family: 'IM Fell English SC', serif;
            font-size: 3.5em;
            padding: 0;
            margin: 10px 0;
            text-align: center;
        }

        .article-display {
            padding: 10px;
            background-color: #BDD1D8;
        }

        .save-switch {
            display: inline-block;
            margin-top: 5px;
        }

        .article-bar {
            background-color: #5F849E;
            color: white;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        #wrapper {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        #articles {
            display: inline-block;
            width: 65%;
            margin-right: 5%;
        }

        .article-title {
            font-weight: bold;
            font-size: x-large;
        }

        #notes {
            float: right;
            width: 30%;
        }

        #notelist {
            background-color: #BDD1D8;
        }

        textarea, input {
            display: block;
            width: 100%;
            background-color: #BDD1D8;
            font-family: 'Rokkitt', serif;
        }

        input {
            height: 1em;
            font-size: 1.3em;
        }

        textarea {
            height: 10em;
            font-size: 1.2em;
        }

        .fetching {
            font-size: x-large;
            font-weight: bold;
            font-style: italic;
        }

        .delete {
            margin-left: 20px;
            color: red;
            cursor: pointer;
            text-align: right;
        }

        .data-title {
            cursor: pointer;
            margin: 0;
        }

        .savednotes, .notesfor {
            font-size: x-large;
        }

        p {
            margin: 0;
        }

        .container {
            display: inline;
            position: relative;
            padding-left: 25px;
            padding-right: 10px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default radio button */

        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%;
        }

        .container:hover input~.checkmark {
            background-color: #ccc;
        }

        .container input:checked~.checkmark {
            background-color: #32CD32;
        }

        .checkmark:after {
            content: '';
            position: absolute;
            display: none;
        }

        .container input:checked~.checkmark:after {
            display: block;
        }

        .container .checkmark:after {
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

        .topnav {
            overflow: hidden;
            background-color: #5F849E;
            width: 100%;
            padding: 0;
            margin-top: 10px;
        }

        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

        .topnav input[type=text] {
            float: right;
            width: 30%;
            padding: 6px;
            border: none;
            margin: 10px;
            font-size: large;
            background-color: white;
        }

        #search {
            float: right;
            margin-left: 0;
        }

        @media screen and (max-width: 600px) {
            .topnav a, .topnav input[type=text] {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
            }
            .topnav input[type=text] {
                border: 1px solid #ccc;
            }
        }

        #displaynotes {
            float: right;
        }

        .switch {
            margin: 5px 0;
            position: relative;
            display: inline-block;
            width: 44px;
            height: 25px;
        }

        /* Hide default HTML checkbox */

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #B32B6F;
            -webkit-transition: .2s;
            transition: .2s;
            border: 1px solid #2E446E;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 2px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .2s;
            transition: .2s;
        }

        input:checked+.slider {
            background-color: #32CD32;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #32CD32;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .footer {
            width: 100%;
            margin: 0 auto;
            padding: 5px;
            position: fixed;
            bottom: 0;
            text-align: center;
            font-size: 1.2em;
            color: white;
            background-color: #5F849E
        }

        .footer a {
            color: white;
        }